@page
@model Prototipo.Pages.ServicioClienteModel
@{
    ViewData["Title"] = "Banca";
    Layout = "_ServicioCliente";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 25%;
            padding: 15px;
            height: 50px;
            margin-left: 50px;
            border: 1px solid black;
            width: 180px;
            font-size: 70%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .row {
            margin: auto;
            text-align: left;
            width: 1000px;
        }

        #buttons {
            float: left;
            width: 200px;
            margin-left: 50px;
            margin-top: 20px;
        }

        #mi {
            margin-left: 200px;
        }
    </style>
</head>
<body>
    <h1>Banca</h1>
    <div id="wrapper" class="row">
        <div class="column" style="        background-color: #bbb;">
            <h2>ID </h2>
        </div>
        <div class="column" style="background-color: #bbb;">
            <h2>Nombre</h2>
        </div>
        <div class="column" style="background-color: #bbb;">
            <h2>Direccion</h2>
        </div>
        <div class="column" style=" background-color: #bbb;">
            <h2>#Telefono</h2>
        </div>
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Cristal</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>De zapote 300 N 100 O 100 Sur</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>22909595</p>
        </div>
        <!--column-->



</body>
</html>
