@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header class="masthead text-white text-center" style="background: url(image/landing.jpg);background-size: cover;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 align-self-center" style="height: 161px;width: 720px; background-color: rgba(255,255,255,0.33);">
                <h1 class="text-center mb-5" style="margin: 0px;margin-top: 48px;margin-bottom: 0px;height: auto;">PROTOTIPO FINTECH</h1>
            </div>
            <div class="col-auto mx-auto" style="width: auto;padding-right: 0px;padding-left: 0px;margin: 0px;margin-right: 0px;margin-left: 0px;">
                <form method="post">
                    <h2 class="sr-only">Login Form</h2>
                    <div class="form-group"><input type="text" class="form-control" placeholder="Email" asp-for="UserLogin.correo"></div>
                    <div class="form-group"><input type="password" class="form-control" placeholder="Password" asp-for="UserLogin.pass" /></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: #2c3134;border-color: #2c3134;">Log In</button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="height: auto;margin: 0px;margin-left: 14.5px;margin-bottom: 0px;margin-right: 14.5px;width: auto;">
        <div class="row" style="margin: 0px;">
            <div class="col-auto" style="width: auto;padding: 0px;padding-right: 0px;background-color: rgba(255,255,255,0.33);margin: auto;margin-right: auto;margin-left: auto;">
                <div class="row" style="margin: 0px;">
                    <div class="col">
                        <h3 style="color: #2c3134;">Tipo de cambio EUR / USD</h3>
                    </div>
                </div>
                <div class="row" style="margin-right: 0px;margin-left: 0px;">
                    <div class="col" style="padding: 0px;">
                        <div class="row" style="margin: 0px;">
                            <div class="col">
                                <h4 style="color: #2c3134;">Compra</h4>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px;">
                            <div class="col">
                                <p id="unidadCompra" style="color: #2c3134; font-weight:bold"></p>
</div>
                        </div>
                    </div>
                    <div class="col" style="padding: 0px;">
                        <div class="row" style="margin: 0px;">
                            <div class="col">
                                <h4 style="color: #2c3134;">Venta</h4>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px;">
                            <div class="col">
                                <p id="unidadVenta" style="color: #2c3134; font-weight:bold"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#">Contacto</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="#">Términos y condiciones</a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">Diseño Conceptual del Software</p>
            </div>
            <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook fa-2x fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-2x fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-2x fa-fw"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/bootstrap.min.js"></script>
<script src="/js/Fixer.js"></script>