@page
@model Prototipo.Pages.PrestamosModel
@{

    ViewData["Title"] = "Prestamos";
    Layout = "_LayoutCliente";
}

<center>
    <h1>Prestamos</h1>
</center>
<hr size="2">
<br />

<div style="border-bottom:1px solid rgba(10, 0, 0, .3);  height:50%;">

    <center> <h2> No hay prestamos solicitados </h2></center>
    <br />
    <center> <button> Aplicar para prestamo </button> </center>
    <br />
    <br />
    <br />

</div>