@page
@model Prototipo.Pages.Reclutamiento;
@{
    ViewData["Title"] = "RecursosHumanos";
    Layout = "_LayoutRH";
}

<h2>Recursos Humanos</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 25%;
            padding: 10px;
            height: 50px;
            margin-right: 50px;
            border: 1px solid black;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .row {
            margin: auto;
            text-align: left;
            width: 1000px;
            
        }
        #buttons {
            float: left;
            width: 200px;
            margin-left: 50px;
            margin-top: 20px;

        }

    </style>
</head>
<body>

    <div id="wrapper" class="row">
        <div class="column" style="        background-color: #bbb;">
            <h2>Nombre: </h2>
        </div>
        <div class="column" style="background-color: #bbb;">
            <h2>Direccion</h2>
        </div>
        <div class="column" style="background-color: #bbb;">
            <h2>Curriculum</h2>
        </div>
        <div class="column" style="background-color: #ffffff;">
            <p>andres</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>curridabat</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>ing de software</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Jose</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>pavas</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>ing de software</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Daniel</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>curridabat</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>ing de software</p>
        </div>
        <!--columan2-->
        <div class="column" style="background-color: #ffffff;">
            <p>andres</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>curridabat</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>ing de software</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Jose</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>pavas</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>ing de software</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Daniel</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>curridabat</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>ing de software</p>
        </div>
        <!--columan3-->
        <div class="column" style="background-color: #ffffff;">
            <p>luis</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>curridabat</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>ing de alimentos</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Antonio</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>pavas</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>ing mecanica</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Carmen</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>curridabat</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>ing industrial</p>
        </div>
    </div>

    <div id="buttons" class="btn-group" role="group"> 
        <div type="button" class="btn btn-primary">
            Modificar
        </div>
        <div type="button" class="btn btn-primary">
            Insertar
        </div>
        <div type="button" class="btn btn-primary">
            Borrar
        </div>
    </div>

</body>
</html>

