@page
@model Prototipo.Pages.ServicioClienteModel
@{
    ViewData["Title"] = "RecursosHumanos";
    Layout = "_ServicioCliente";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 25%;
            padding: 10px;
            height: 50px;
            margin-left: 50px;
            border: 1px solid black;
            width: 180px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .row {
            margin: auto;
            text-align: left;
            width: 1000px;
        }

        #buttons {
            float: left;
            width: 200px;
            margin-left: 50px;
            margin-top: 20px;
        }
        #mi{
            margin-left: 200px;
        }
    </style>
</head>
<body>
    <h1>Servicio al Cliente</h1>
    <h2 id="mi">Tickets</h2>
    <div id="wrapper" class="row">
        <div class="column" style="        background-color: #bbb;">
            <h2>ID </h2>
        </div>
        <div class="column" style="background-color: #bbb;">
            <h2>Nombre</h2>
        </div>
        <div class="column" style="background-color: #bbb;">
            <h2>Correo</h2>
        </div>
        <div class="column" style="        background-color: #bbb;">
            <p># Telefono</p>
        </div>
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>2</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Jose</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Jose@gmail.com</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>654651651</p>
        </div>
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>3</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Daniel</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Daniel@gmail.com</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>658484684</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>4</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Carmen</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>carmen@gmail.com</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>89894897</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>5</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Garmio</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>garmio@gmail.com</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>8994984895</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>6</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Andres</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>andres@gmail.com</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>88898548</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>7</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Andres</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>andres@gmail.com</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>88898548</p>
        </div>
        <!--column-->
        <!--column-->
        <div class="column" style="        background-color: #ffffff;">
            <p>8</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>Andres</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>andres@gmail.com</p>
        </div>
        <div class="column" style="        background-color: #ffffff;">
            <p>88898548</p>
        </div>
        </div>
        <!--column-->
        

</body>
</html>


